<div class="main-wrapper">
  <form [formGroup]="currencyConvertForm">

    <div class="form-control-wrapper">
      <div class="label">Amount</div>
      <input class="form-control" formControlName="amount">
    </div>

    <div class="currency-selector">
      <div class="form-control-wrapper">
        <div class="label">From</div>
        <app-currency-selection-component formControlName="baseCurrency"></app-currency-selection-component>
      </div>

      <div class="switch" (click)="switchCurrencies()">
        <i class="pi pi-sort-alt"></i>
      </div>

      <div class="form-control-wrapper">
        <div class="label">To</div>
        <app-currency-selection-component formControlName="counterCurrency"></app-currency-selection-component>
      </div>
    </div>
  </form>

  <div class="currency-calculation">
    <ng-container *ngIf="{o1: convertedCurrency$ | async} as convertedCurrency">
      <div class="divider">
        <div class="rounded"></div>
        <div class="one-unit-calculation">
          1 {{convertedCurrency.o1?.query.from}} = {{convertedCurrency.o1?.info.rate}}
          {{convertedCurrency.o1?.query.to}}
        </div>
        <div class="rounded"></div>
      </div>

      <div class="amount-calculation">
        <div>{{convertedCurrency.o1?.query.amount}} {{convertedCurrency.o1?.query.from}}</div>
        <div>=</div>
        <div class="result">{{convertedCurrency.o1?.result | number : '1.2-2'}}
          {{convertedCurrency.o1?.query.to}}
        </div>
      </div>

      <div class="divider">
        <div class="rounded"></div>
        <div class="one-unit-calculation">
          {{convertedCurrency.o1?.date}}
        </div>
        <div class="rounded"></div>
      </div>
    </ng-container>
  </div>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [(update)]="updateFlag"
    style="width: 100%; height: 400px; display: block; margin-right: 10px"
  ></highcharts-chart>
</div>
