<form [formGroup]="currencyConvertForm">
  Amount
  <input formControlName="amount" style="margin-top: 10px">
  <br>
  From
  <app-currency-selection-component formControlName="baseCurrency"></app-currency-selection-component>
  <br>
  <br>
  <button (click)="switchCurrencies()">Switch</button>
  <br>
  To
  <app-currency-selection-component formControlName="counterCurrency"></app-currency-selection-component>
  <br>
  <br>
</form>
<div *ngIf="(convertedCurrency$ | async) as convertedCurrency">
  <div> 1 {{convertedCurrency.query.from}} = {{convertedCurrency.info.rate}} {{convertedCurrency.query.to}}</div>
  <br>
  <div>{{convertedCurrency.query.amount}} {{convertedCurrency.query.from}}</div>
  <div>=</div>
  <div>{{convertedCurrency.result}} {{convertedCurrency.query.to}}</div>
  <br>
  <div>{{convertedCurrency.date}}</div>
</div>

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  [(update)]="updateFlag"
  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>

<!--<i class="pi pi-check"></i>-->
