.currencies {
  border: 1px solid black;
  flex: 1 1 auto;
  overflow-y: scroll;
  height: 400px;
  width: 100px;
  background: white;
  position: relative;
  z-index: 10;
}

.currency-input {
  text-transform: uppercase;
}
