/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #d633ff;
  --secondary-color: #989898;
}

body {
  margin:0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
}

.pi-angle-down,.pi-angle-up {
  display: flex !important;
  align-items: center;
  color: var(--secondary-color);
}
